.weatherCard {
  background-color: #2a3b47;
  color: white;
  border-radius: 16px;
  padding: 0.75rem;
  width: 300px;
  height: 150px;
  text-align: left;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin: 1rem;
  font-family: 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.weatherTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.weatherIcon {
  font-size: 1.5rem;
  max-width: 60px;
  max-height: 60px;
  color: white;
}

.locationInfo {
  display: flex;
  flex-direction: column;
}

.locationInfo h3 {
  margin: 0;
  font-size: 0.8rem;
  opacity: 0.8;
}

.locationInfo h2 {
  margin: 0;
  font-size: 1.1rem;
  font-weight: bold;
}

.temperature {
  font-size: 1.2rem;
  font-weight: bold;
  align-self: flex-start;
}

.weatherDescription {
  margin-top: 0.5rem;
  font-size: 0.8rem;
  opacity: 0.8;
  align-self: flex-start;
}
