.locationContainer {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  max-width: var(--breakpoint-md);
  margin: auto;
  gap: 1rem;
  align-items: center;
  box-sizing: border-box;
}

/* Cannot use CSS variables in media query. Therefore have to specify --breakpoint-md explicitly */
@media screen and (min-width: 768px) {
}
