.weatherDetailsContainer {
  display: flex;
  justify-content: space-around;
  max-width: 44rem;
  margin: 3rem auto;
  flex-wrap: wrap;
  background-color: #f7f6fc;
  padding: 1rem;
  gap: 1rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  list-style: none;

  li {
    width: auto;
  }
}
