# Kristoffer Osen
Kristoffer Osen <krisose@stud.ntnu.no> Kristoffer Osen <krisose@stud.ntnu.no>      
Kristoffer Osen <krisose@stud.ntnu.no> Kristoffer <krisose@stud.ntnu.no>
Kristoffer Osen <krisose@stud.ntnu.no> Randy <kriosen03@outlook.com>

# Lasse Bærland Strand
Lasse Bærland Strand <lassebs@stud.ntnu.no> Lasse Bærland Strand <lassebs@stud.ntnu.no>
Lasse Bærland Strand <lassebs@stud.ntnu.no> Lasse Bærland Strand <lassebaerlandstrand@gmail.com>

# Sebastian Munthe
Sebastian Munthe <sebasmu@stud.ntnu.no> Sebastian Munthe <sebasmu@stud.ntnu.no>

# Adam Dybwad Sioud
Adam Dybwad Sioud <adamds@stud.ntnu.no> Adam S <adamds@stud.ntnu.no>
Adam Dybwad Sioud <adamds@stud.ntnu.no> Adam S <134907338+adam-sioud@users.noreply.github.com>