.homeContainer {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: var(--breakpoint-md);
  margin: auto;
}

.searchSortContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 1rem;
  width: 100%;
}
