.searchBarContainer {
  display: flex;
  align-items: center;
  max-width: 200px;
  border: 1px solid #dddddd;
  border-radius: 0.5rem;
  background-color: #ffffff;
  padding: 0.5rem 0.75rem;
  box-sizing: border-box;
}

.searchInput {
  flex: 1;
  width: 100%;
  padding: 0 1rem;
  border: none;
  outline: none;
  font-size: 1rem;
  color: #333333;
}

/* Placeholder text */
.searchInput::placeholder {
  color: #999999;
}

/* Icon styling */
.searchIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #999999;
}
