.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-decoration: none;

  h1 {
    color: var(--primary-color);
    font-style: italic;
    margin: 0;
  }

  h2 {
    font-size: 0.75rem;
    color: var(--primary-color);
    font-style: italic;
    margin: -0.75rem 0 0 0;
  }
}

.img {
  width: 4rem;
  height: 4rem;
}
