.link {
  display: flex;
  flex-direction: column;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  min-width: 9rem;
  box-sizing: border-box;
  align-items: center;

  h3 {
    margin: 0;
    font-size: 0.9rem;
  }

  svg {
    transition: transform 0.2s;
    width: 4rem;
    height: 4rem;
  }

  &.leftLink:hover svg {
    transform: translateX(-0.2rem);
  }

  &.rightLink:hover svg {
    transform: translateX(0.2rem);
  }
}

.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 2rem;
  width: 100%;
}

.additionalInfo {
  flex-wrap: wrap;
  display: flex;
}

.svg {
  width: 100%;
  height: 100%;
}

/* Cannot use CSS variables in media query. Therefore have to specify --breakpoint-md explicitly */
@media screen and (min-width: 768px) {
  .buttonContainer {
    justify-content: space-around;
  }
}
