.container {
  position: relative;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

.dropDownButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
  min-width: 11rem;
  padding: 0.5rem;
  background-color: white;
  border-radius: 0.3rem;
  border: 0.1rem var(--inactive-border) solid;
  cursor: pointer;
  box-sizing: border-box;
  user-select: none;
  font-size: 1rem;
}

.iconSpan {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 1rem;
  color: #999999;
}

.dropDownContent {
  display: none;
  flex-direction: column;
  align-items: center;
  position: absolute;
  min-width: 100%;
  padding: 0;
  background-color: white;
  max-height: 20vh;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  box-sizing: border-box;
  list-style-type: none;
  user-select: none;
  margin-top: 0.25rem;
  border: 0.1rem var(--inactive-border) solid;
  border-radius: 0.3rem;
}

.dropDownContent::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.dropDownItem {
  width: 100%;
  padding: 0.5rem;
  cursor: pointer;
  box-sizing: border-box;
}

.dropDownItem:hover {
  background-color: #f4f4f4;
}

.buttonOpen {
  border: 0.1rem var(--active-border-blue) solid;
}

.contentOpen {
  display: flex;
}
