* {
  font-family: 'Rubik', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

:root {
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color: #2c434e;
  --secondary-color: #fffcfd;
  --tertiary-color: #aed2db;

  --inactive-border: #dddddd;
  --active-border: #b9b9b9;
  --active-border-blue: #007bff;
}

body {
  margin: 0;
}
