.weatherList {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: center;
  width: 100%;
}

.section {
  margin-bottom: 3rem;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
